.App {
    margin: 4rem auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 24rem;
}

.App-logo {
    max-width: 10rem;
    pointer-events: none;
}

.App header {
    color: white;
    text-align: center;
}

.App h1 {
    margin: 1rem 0;
    font-size: 1.75rem;
}

.App ul {
    list-style-type: none;
    border-radius: .25rem;
    background-color: #fff;
    padding: 0;
    margin: 1rem 0;
    font-size: 1rem;
    width: 100%;
}

.App li {
    margin: 0;
    display: flex;
    align-items: center;
}

.App li:not(:first-child) {
    border-top: 1px solid #eee;
}

.App li span {
    flex-grow: 1;
    padding: .5rem 1rem;
}

.App li.done span {
    text-decoration: line-through;
    opacity: 0.4;
}

.App li.done button:first-of-type {
    color: #2fc89f;
}

p {
    color: white;
    margin: .5rem 0;
}

ul, form {
    border-radius: 0.25rem;
    overflow: hidden;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form button {
    background-color: #4d5bd9;
    color: #fff;
}

input, button {
    border: 1px solid transparent;
    color: #000000;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
}

input {
    flex-grow: 1;
    width: 50%;
    padding: .5rem 1rem;
    outline: transparent;
}

button {
    background-color: #fafafa;
    color: #444;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color .2s linear;
}

button:hover {
    background-color: #eee;
    color: #4d5bd9;
}

button:active {
    background-color: #ddd;
}
